# Caminhos e pacotes

In [1]:
import pandas as pd
pd.options.display.max_colwidth = 200

import os
import re
from sklearn.model_selection import train_test_split
import joblib
from tqdm import tqdm
import soundfile as sf  
from pydub import AudioSegment
import math  
import shutil
import numpy as np

###################################################################
#Para converter mp3 em wav
from pydub import AudioSegment
AudioSegment.converter = "C:\\ffmpeg\\bin\\ffmpeg.exe"
AudioSegment.ffmpeg = "C:\\ffmpeg\\bin\\ffmpeg.exe"
AudioSegment.ffprobe ="C:\\ffmpeg\\bin\\ffprobe.exe"
###################################################################

#Folder Inicial
path = os.getcwd()
pathin = path + '\\entrada\\'   
pathparcial = path + '\\parcial\\'

## Lendo Base

In [2]:
df = joblib.load(pathparcial + 'BaseDeDados.pkl')
df.head(1)

,path,fileoriginal,file,comeco,fim
0,C:\Users\laran\Downloads\BaixandoYoutube\entrada\Diogo\AlmaBrasileira\Menores,01 - Tema De Abertura _ Porta Voz Da Alegria (Ao Vivo).wav,Musica_0Parte_1.wav,30.0,60.0

In [3]:
df['fileDown'] = df['file'].apply(lambda x: x[:-4]+'-downRate8000.wav')

## Criando Variaveis Resposta

In [4]:
#Cantor
df['cantor'] = df['path'].apply(lambda x: x.split('\\')[-3])
df['cantor'].value_counts()

Diogo          371
Gal            335
MarisaMonte    265
Thiaguinho     190
Name: cantor, dtype: int64

In [5]:
df['masculino'] = np.where((df['cantor'] == 'Diogo') | (df['cantor'] == 'Thiaguinho'), 1, 0)
df['masculino'].value_counts()

0    600
1    561
Name: masculino, dtype: int64

## Separando a Base de Teste

In [6]:
df['albuns'] = df['path'].apply(lambda x: x.split('\\')[-2])
df['albuns'].value_counts()

Teste                 216
Estratosf√©rica        148
AlmaBrasileira        145
TomJobim              121
SouEu                  95
CorDeRosa              89
Cuba                   87
Tardezinha2            80
Memorias               63
Tardezinha             60
InfinitoParticular     57
Name: albuns, dtype: int64

In [7]:
df['teste'] = np.where(df['albuns'] == 'Teste', 1, 0)
df['teste'].value_counts()

0    945
1    216
Name: teste, dtype: int64

In [8]:
pd.crosstab(df['cantor'], df['teste'], dropna = False)

teste          0   1
cantor
Diogo        327  44
Gal          269  66
MarisaMonte  209  56
Thiaguinho   140  50

In [9]:
pd.crosstab(df['masculino'], df['teste'], dropna = False)

teste        0    1
masculino
0          478  122
1          467   94

In [10]:
tr = df[df['teste'] == 0][['path', 'file', 'fileDown', 'cantor', 'masculino']]
te = df[df['teste'] == 1][['path', 'file', 'fileDown', 'cantor', 'masculino']]

print(tr.shape)
print(te.shape)

joblib.dump(tr, pathparcial + 'Train.pkl')
joblib.dump(te, pathparcial + 'Teste.pkl')

(945, 5)
(216, 5)

['C:\\Users\\laran\\Downloads\\BaixandoYoutube\\parcial\\Teste.pkl']